*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}
body{
    font-family: "Roboto";
}
/*HEADER*/

header{
    background-image: url(../img/ilustracion_people.png),url(../img/ilustracion1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 40px;
    padding-bottom: 100px;
}
header div{
    padding-left: 91px;
}
header div h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
}
header div p{
    font-size: 12px;
    line-height: 14.4px;
}
header section{
    margin-top: 365px;
    margin-left: 144px;
}
header section h1{
    font-size: 54px;
    line-height: 64.8px;
    font-weight: 600;
    width: 450px;
}
header section p{
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}
header section p:nth-of-type(1){
    margin-top:19.8px;
    margin-bottom: 11px;
}
/*MAIN*/

/*--1st-section--*/

.st-section p{ 
    color: #ff3571;
    font-size: 14px;
    margin-left: 144px;
    margin-bottom: 130px;
}
.st-section img{
    max-width: 100%;
    margin-bottom: 297px;
}

/*--2nd-Section--*/

.nd-section h2{
    font-size: 38px;
    width: 450px;
    padding-left: 155px;
}
.nd-section h2 img{
  width: 60px;
  height: 62px;
}

.nd-section article{
    display: flex;
    justify-content: space-between;

}
.nd-section p{
  font-size: 18px;
  line-height: 36px;
  flex-basis: 42.5rem;
  margin-right: 150px;
  font-weight: 300;
}
.nd-section article{
  margin-bottom: 107px;
}

/*--3rd-Section--*/

.rd-section h2{
  font-size: 38px;
  padding-right: 580px;
  padding-left: 216px;
  width: 100rem;
}
.rd-section{
  margin-bottom: 205px;
}

/*--4th-Section--*/


.th-section{
  display: flex;
  margin-bottom: 92px;
}

.th-section img{
  width: 32px;
  height: 32px;
}
.th-section h3{
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

/*----4th-section-articles----*/


.st-article{
  display: flex;
  margin-left: 162px;
  margin-right: 250px;
}
.st-article img{
  margin-right: 24px;
}
.st-article h3{
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 21px;
}
.st-article p{
  font-size: 14px;
  line-height: 28px;
  padding-right: 183px;
}

.nd-article{
  display: flex;
  margin-right: 102px;
}
.nd-article img{
  margin-right: 24px;
}
.nd-article h3{
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 21px;
}
.nd-article p{
  font-size: 14px;
  line-height: 28px;
  padding-right: 224px ;
}

/*--5th-Section--*/

.fifth-section {
  display: flex;
  margin-bottom:200px;
}
.fifth-section img{
  width: 32px;
  height: 32px;
}
.fifth-section h3{
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

/*----5th-section-articles----*/

.st-article-fifth-section{
  display: flex;
  margin-left: 162px;
  margin-right: 250px;
}
.st-article-fifth-section img{
  margin-right: 24px;
}
.st-article-fifth-section h3{
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 21px;
}
.st-article-fifth-section p{
  font-size: 14px;
  line-height: 28px;
  padding-right: 183px;
}

.nd-article-fifth-section{
  display: flex;
  margin-right: 102px;
}
.nd-article-fifth-section img{
  margin-right: 24px;
}
.nd-article-fifth-section h3{
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 21px;
}
.nd-article-fifth-section p{
  font-size: 14px;
  line-height: 28px;
  padding-right: 224px ;
}

/*----sixth-section----*/

.sixth-section{
  text-align: center;
  margin-bottom:151px;
}
.sixth-section h3{
  line-height: 33px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom:24px;
}
.sixth-section p{
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin: 0 523px 0 522px;
}